{% extends "layout/layout.twig" %}
{% block title %}Namespaces | {{ parent() }}{% endblock %}
{% block body_class 'namespaces' %}

{% block page_content %}
  <h1>Namespaces</h1>

  {% if namespaces %}
    {% set last_name = '' %}
    <table class="table">
    {% for namespace in namespaces %}
      {% set top_level = namespace|split('\\')|first %}
      {% if top_level != last_name %}
        <tr><td colspan="2"><h2>{{ top_level }}</h2></td></tr>
        {% set last_name = top_level %}
      {% endif %}
      <tr>
        <td><div class="circle circle-n">N</div></td>
        <td><a href="{{ namespace_path(namespace) }}">{{ namespace }}</a></td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

{% endblock %}
